#header{
     margin:auto;
    width: 50%;
    font-family:cursive;

}
#image{
    margin-left:60px;
    height:200px;
    width:200px;
    border-width:2px;
    border-radius:100px;
    background-image: url("../img/img5.jpg");
    background-size:200px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    background-size: 100%;
    background-repeat: no-repeat
}
.content
{
    margin:50px;
    padding:20px;
    height:150px;
    width:210px;
    border-style:solid;
    border-color: black;
    border-width: 2px;
    box-shadow: 25px 27px 5px 0px rgba(0,0,0,0.75);
    background-color:brown;
    border-radius:30px;
    
    background-image: url("../img/img6.jpg");
     background-size:100%;
    
    color:burlywood;
     font-size:20px;
    font-weight:bold;
    font-family:cursive;
     text-align:center;
    
    
    
}
 .content1
{
    margin:50px;
    padding:20px;
    height:150px;
    width:210px;
    border-style:solid;
    border-color: black;
    border-width: 2px;
    box-shadow: 25px 27px 5px 0px rgba(0,0,0,0.75);
    background-color:brown;
    border-radius:30px;
    
    background-image: url("../img/img7.jpg");
     background-size:100%;
    
    color:white;
     font-size:20px;
    font-weight:bold;
    font-family:cursive;
     text-align:center;
    
    
    
}
 
.content2
{
    margin-left:200px;
    padding:20px;
    height:250px;
    width:400px;
    border-style:solid;
    border-color: black;
    border-width: 2px;
    box-shadow: 25px 27px 5px 0px rgba(0,0,0,0.75);
    background-color:brown;
    border-radius:30px;
    
   background-image: url("../img/img4.jpg"); 
    color:white;
     font-size:20px;
    font-weight:bold;
    font-family:cursive;
     text-align:center;
    background-size:100%;
    background-repeat:no-repeat;
    
    
    
}
.content3
{   margin-top:100px;
    margin-left:200px;
    padding:20px;
    height:250px;
    width:400px;
    border-style:solid;
    border-color: black;
    border-width: 2px;
    box-shadow: 25px 27px 5px 0px rgba(0,0,0,0.75);
    background-color:brown;
    border-radius:30px;
    
   background-image: url("../img/img2.png"),url("../img/img3.jpg"); 
    color:white;
     font-size:20px;
    font-weight:bold;
    font-family:cursive;
     text-align:center;
    background-size:50%,100%;
    background-repeat:no-repeat;
    background-position: bottom,top;
    
    
}
#c{  margin-left:70%;
      height:200px;
    width:200px;
    border-radius:100px;
    background-image: url("../img/img1.jpg");
    background-size:200px;
}
h2{  
    margin-left:70%;
    display:block;
    width:150px;
    padding: 12px;
    border: 1px solid #77aaaa;
    
    font-weight:bold;
    font-family:cursive;
    text-decoration:underline;
    color:white;
    font size:14px;
    text-align:center;
    border-radius: 14px;
    background-image: url("../img/img8.jpg");
    background-size:100%;
     box-shadow: 15px 17px 5px 0px rgba(0,0,0,0.75);
    
}



 
.name{
    margin-left: 60px;
    padding:30px;
    font-family:cursive;
    font-size:20px;
    text-decoration: underline;
    font-weight:bold;
    
}
a{
    display: block;
    width: 100px;
    padding: 12px;
    border: 1px solid #77aaaa;
    font-family:arial;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    font-size: 14px;
    text-align: center;
    border-radius: 4px;
    background:#aadddd;
    background:-webkit-linear-gradient(top,#aadddd 0%,#77aaaa 100%);
    
}
a:hover{
    display: block;
    width: 100px;
    padding: 12px;
    border: 1px solid #77aaaa;
    font-family:arial;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    font-size: 14px;
    text-align: center;
    border-radius: 4px;
    background:#aadddd;
    background:-webkit-linear-gradient(bottom,#aadddd 0%,#77aaaa 100%);
    
}
